.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.user-img {
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
}

.user-data span {
  display: block;
}

.user-data {
  margin: 0;
}

.user-data .user-status {
  font: var(--caption-12regular);
  color: var(--grey-10);
  text-transform: uppercase;
}

.user-data .user-name {
  font: var(--body-16regular);
  color: var(--black);
  text-transform: capitalize;
}